codegen==1.0
colorama==0.3.7
DAWG-Python==0.7.2
defusedxml==0.4.1
Django==1.10.2
django-el-pagination==3.0.1
django-jquery==3.1.0
django-taggit==0.21.3
docopt==0.6.2
lorem-ipsum-generator==0.3
mysql-connector==2.1.4
oauthlib==2.0.0
Pillow==3.4.1
psycopg2==2.6.2
py==1.4.31
PyJWT==1.4.2
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
PyMySQL==0.7.9
pytest==3.0.3
python-social-auth==0.2.21
python3-openid==3.0.10
requests==2.11.1
requests-oauthlib==0.7.0
six==1.10.0
transliterate==1.8.1
