DAWG-Python==0.7.2
defusedxml==0.4.1
Django==1.10.3
django-el-pagination==3.0.1
django-taggit==0.21.3
docopt==0.6.2
lorem-ipsum-generator==0.3
nltk==3.2.1
oauthlib==2.0.0
Pillow==3.4.2
PyJWT==1.4.2
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
PyMySQL==0.7.9
python-social-auth==0.2.21
python3-openid==3.0.10
requests==2.12.1
requests-oauthlib==0.7.0
six==1.10.0
transliterate==1.8.1


#import nltk
#nltk.download('punkt')
#nltk.download('averaged_perceptron_tagger')