{% extends "mysite/base.html" %}
{% load staticfiles %}

{% block content %}
<script type="text/javascript">
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();

    $('input.autocomplete').autocomplete({
      data: {
        "Apple": null,
        "Microsoft": null,
        "Google": 'http://placehold.it/250x250'
      }
    });
  });
</script>

<!-- Превью афиши -->
<script type="text/javascript">
function upload_img(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#img_id').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}
</script>



<!-- Modal Structure -->
<div id="modal2" class="modal row">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>

<div class="">

  <form class="card-panel z-depth-3" action="{% url 'add_event_form'%}" method="post" id="main_form" name="main_form" enctype="multipart/form-data">
  {% csrf_token %}
<!-- Modal Trigger -->
<a class="col l12 waves-effect waves-light btn modal-trigger" href="#modal2">Читать инструкцию</a>
    <div class="input-field col s12">
      <input type="text" name="title" length="50" required>
      <label for="title">Заголовок</label>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea class="materialize-textarea" name="description" id="description" length="1000" required></textarea>
        <label for="textarea1">Описание мероприятия</label>
      </div>
    </div>

    <div class="input-field col s12">
        {{ form.location }}
        <label>Город</label>
    </div>

    <div class="row" hidden id="place_row">
{#    <div class="input-field col s12" id="local_places">#}
{#        {{ form.location }}#}
{#        <label>Место</label>#}
{#    </div>#}
    <div class="input-field col s12">
    <select id="local_places" class="icons">

    </select>
    <label>Место</label>
  </div>
      </div>

    <div class="col s10">
      <div class="file-field input-field file-upload">
        <div class="btn">
          <span>Загрузить афишу</span>
          <input type="file" name="image" onchange="upload_img(this);" />
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Загрузите афишу вашего мероприятия" required aria-disabled="true">
        </div>
      </div>
      </div>
    <div class="col s2 "><img id="img_id" class="materialboxed responsive-img" src="{% static 'placeHolder.png' %}" alt="Ваша афиша"/></div>

    <div class="input-field col s12">
      <i class="material-icons prefix">textsms</i>
      <input type="text" id="autocomplete-input" class="autocomplete">
      <label for="autocomplete-input">Autocomplete</label>
    </div>

    <div class="row">
        <div class="input-field col s5 offset-s1">
              <i for="date">Дата</i>
               <input id="date" type="date" name="start_date" class="datepicker" value="2016-10-08">
        </div>

        <div class="input-field col s4 offset-s1">
            <i for="time">Время</i>
               <input type="time" id="time" name="start_time" class="timepicker" value="11:10">
        </div>
    </div>

    <div class="row right-align">
          <button class="btn waves-effect waves-light btn-large right-align" type="submit" name="action">Отправить на модерацию
              <i class="material-icons right">send</i>
          </button>
    </div>
  </form>
</div>
{% endblock %}

{% block pin %}
  <script type="application/javascript">
    $(document).ready(function(){
    $('.tabs-wrapper .row').pushpin({ top: $('.tabs-wrapper').offset().top });
  });

  </script>

  <div class="tabs-wrapper">

    <div class="row">
      <h3 class="red lighten-1 white-text center-align flow-text" style="font-weight: bolder" >
          Внимание, АКЦИЯ!
      </h3>

      <div class="card-panel">
      <div class="teal lighten-2 white-text center-align">
        <span>Публикуем 100% уникальные мероприятия <br></span>
          <span class="white-text text-lighten-1 center-align flow-text" style="font-weight: bolder" >БЕСПЛАТНО</span>
      </div>
      <div id="wont">
        Хотите узнать, насколько Ваше мероприятие уникально? <span>Чем выше уникальности, тем больше скидка!</span><br>
      </div>
      <div id="uniq_bar" hidden>
        Уникальность вашего мероприятия:
        <div class="progress center" style="height: 20px;" id="prog_bar">
          <div id="set_progress"></div>
        </div>
      </div>
    </div>

      <a type="button" onclick="" class="blue-grey lighten-1 white-text waves-effect waves-light center-align flow-text" style="font-weight: bolder" id="check_text" name="check_text">
          Проверить на уникальность
          </a>


{#      <button class="btn-large blue-grey lighten-1 waves-effect waves-light flow-text" form="main_form" type="submit" id="check_text">#}
{##}
{##}
{##}
{##}
{#        <h3 class="flow-text">#}
{#        <span class="container">Проверить на уникальность</span></h3>#}
{#        <i class="material-icons right">send</i>#}
{#      </button>#}

{#    <div id="details_container">#}
{#      <a href="#" id="text_ru_details">Подробнее...</a>#}
{#    </div>#}

  </div>
 </div>

<div id="modal_results" class="modal">
  <div class="modal-content">
    <h4>Результаты анализа описания мероприятия</h4>
    <div id="modal_results_content">

    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Закрыть</a>
  </div>
</div>

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/materialize.clockpicker.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/materialize.clockpicker.css' %}">
  <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>

  <script type="application/javascript">


  $(document).ready(function(){
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      firstDay: 0,
      selectYears: 4 // Creates a dropdown of 15 years to control year
    });

    $('.timepicker').pickatime({
      default: '',           // default time, 'now' or '13:14' e.g.
      fromnow: 0,            // set default time to * milliseconds from now
      donetext: 'Применить',      // done button text
      autoclose: true,      // auto close when minute is selected
      ampmclickable: false,  // set am/pm button on itself
      darktheme: false,      // set to dark theme
      twelvehour: false,      // change to 12 hour AM/PM clock from 24 hour
      vibrate: true,         // vibrate the device when dragging clock hand
      container: 'datepicker'          // default will append clock next to input
    });
  });
  </script>

  <script type="application/javascript">

  $(function(){
    $("#check_text").click(function(e) {
      e.preventDefault();
      $('#set_progress').replaceWith('<div id="set_progress" class="indeterminate"></div>');

      $('#wont').hide();
      $('#uniq_bar').show();
      $('#check_text').attr("disabled", true);

      $.ajax({
        type: 'POST',
        url: {% url 'jq' %},
        dateType: 'json',
        data:{
          description:$('#description').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        },
        success:function (json) {
          $("#modal_results_content").html(json.message);
          $('#check_text').attr("disabled", false);

          $('#set_progress').replaceWith('<div id="set_progress" class="determinate red" style="width: '+json.result_json.unique+'">'+json.result_json.unique+'%</div>');
          $('#modal_results').openModal();
          $('#modal_results_content').empty();

{#         Если есть ссылки плагиата #}
          if (json.urls) {
            var mydiv = $('<div/>', {
                id:     'mydiv',
                class:  'row'
            });
            $('#modal_results_content').append(mydiv);

            var h5 = $("<h5/>", {
                class: 'red-text text-accent-2',
                text: 'Уникальность вашего текста крайне низка.'
            }).appendTo(mydiv);

            var span1 = $("<span/>", {
                text: 'Данное описание уже было опубликовано здесь:'
            }).appendTo(mydiv);

            var blockquote = $('<blockquote/>').appendTo(mydiv);
            var ul = $('<ul/>').appendTo(blockquote);
            for (i=0; i<json.urls.length; i++){
              var li = $('<li/>', {class: 'truncate'}).appendTo(ul);
              $('<a/>', {
                text: json.urls[i].url,
                href: json.urls[i].url,
                target: "_blank"
              }).appendTo(li);
          }

          var div3 = document.createElement('div');
          div3.className = 'raw';

          div3.textContent = 'Судя по всему Вы ранее публиковали данное описание на других ресурсах.' +
                  'Если Вы хотите получить скидку или разместить ваше мероприятие бесплатно Вы можете:' +
                  'Отредактировать описание вашего мероприятия, повысив его уникальность. Не забудьте обновить текст в нашей форме, когда он будет готов. Проверить текста на уникальность можно ТУТ.' +
                  'В следующий раз публиковать Ваше мероприятие в первую очередь у нас на сайте БЕСПЛАТНО';
          $("#modal_results_content").append(div3);
{#          Добавим ссылку на детали проверки#}
          $("#text_ru_details").href = 'asdasdadsd'
        }
      }
    })
  })
  });
  </script>

<script>
  $(function() {
    $( "#id_location" ).change(function() {
      console.log( "Handler for .select() called." );
      $.ajax({
        type: 'POST',
        url: {% url 'jdata' %},
        dateType: 'json',
        data:{
          task: 'get_location_places',
          location_id:$('#id_location').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        },
        success:function (json) {
            $('#local_places').empty();
            var items = [];
            items.push('<option value="" disabled selected>Выберите место проведения</option>');
            $.each( json.location_places, function( key, val ) {
              items.push( "<option data-icon='"+ val['logo'] +"' value='" + key + "' class='left circle'>" + val['name'] + "</option>" );
            });
            $('#local_places').append(items);
            $('#local_places').material_select();
            $('#place_row').show();
          }
      })
    });
  });
</script>

{% endblock %}

{% block modal_results %}
{% endblock %}

