{% extends "mysite/base.html" %}

{% load staticfiles %}

{% block content %}
  <div class="center-align">
    <h4 class="red-text">Не удалось добавить ваше мероприятие!</h4>
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}

     <div class="row valign-wrapper">
       <div class="col s8 right-align valign">
         <h5>За получением дополнительной информации </h5>
       </div>
       <div class="col s4 left-align valign">
         <div id="vk_contact_us"></div>
       </div>
     </div>


    <script type="text/javascript">
      VK.Widgets.ContactUs("vk_contact_us", {}, 271252027);
    </script>


  </div>
{% endblock %}