{% extends "mysite/base.html" %}
{% load staticfiles %}
{% load myfilters %}

{% block content %}
<script type="text/javascript" src="//vk.com/js/api/openapi.js?130"></script>
<script type="text/javascript">
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();

  });
</script>

<!-- Превью афиши -->
<script type="text/javascript">
  function upload_img(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
          $('#img_id').attr('src', e.target.result);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

<!-- Modal help Structure -->
<div id="modal2" class="modal row">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Согласен</a>
  </div>
</div>

<!-- Modal org Structure -->
<div id="modal_org" class="modal row">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <form method="post" id="org_form" name="org_form" >
      {% csrf_token %}
     {{ form.non_field_errors }}
      {% for field in org_form %}
          <div class="input-field">
{#            {{ field.errors }}#}
            {{ field|addcss:'validate' }}
            {{ field.label_tag }}
          </div>
      {% endfor %}
    </form>
{#    <p>A bunch of text</p>#}
  </div>
  <div class="modal-footer">
    <button class="modal-action waves-effect waves-light btn" id="save_org" type="submit" name="org_action">Сохранить
{#    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Согласен</a>#}
  </div>
</div>

<div class="">
  <form class="card-panel z-depth-3" action="{% url 'add_event_form'%}" method="post" id="main_form" name="main_form" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Modal Trigger -->
    <a class="col s12 m12 l12 waves-effect waves-light btn modal-trigger" href="#modal2">Читать инструкцию</a>
    <div class="input-field col s12">
      <input type="text" name="title" length="50" class="validate" required>
      <label for="title">Заголовок</label>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea class="materialize-textarea validate" name="description" id="description" length="1000" required></textarea>
        <label for="textarea1">Описание мероприятия</label>
      </div>
      <div class="col s12">
        <input type="checkbox" class="filled-in" id="filled-in-box" name="is_free" value="1"/>
        <label for="filled-in-box">Бесплатный вход</label>
    </div>
    </div>



    {#            <i class="material-icons">location_city</i>#}
    <div class="row">
    <div class="input-field col s12">

      {{ form.location }}

      <label>Город</label>
    </div>
    </div>

    <div class="row" hidden id="place_row">
      <div class="input-field col s10" id="place_selector">
        <select id="local_places" name="organizer" class="icons validate">

        </select>
        <label>Место</label>
      </div>
      <div class="input-field col s10" id="new_org" hidden>
          <input disabled value="" id="new_org_input" type="text" class="validate">
          <label for="disabled">Добавлено новое место</label>
      </div>
      <div class="col s1">
        <a class="center-align btn-flat modal-trigger" href="#modal_org">
          <i class="valign center-align medium material-icons">
            playlist_add
          </i>
        </a>
      </div>
    </div>

    <div class="col s10">
      <div class="file-field input-field file-upload">
        <div class="btn">
          <span>Загрузить афишу</span>
          <input type="file" name="image" id="files" onchange="upload_img(this);" accept="image/*,image/jpeg" required/>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Загрузите афишу вашего мероприятия" aria-disabled="true" required>
        </div>
      </div>
      </div>
    <div class="col s2 "><img id="img_id" class="materialboxed responsive-img" src="{% static 'placeHolder.png' %}" alt="Ваша афиша"/></div>

{#    <div class="row">#}
{#      <div class="input-field col s12">#}
{#        <i class="material-icons prefix">textsms</i>#}
{#        <input type="text" id="autocomplete-input" class="autocomplete">#}
{#        <label for="autocomplete-input">Autocomplete</label>#}
{#      </div>#}
{#    </div>#}



    <div class="row">
      <div class="input-field col s12">
        <div class="chips-initial"></div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s5 offset-s1">
         <i for="date">Дата</i>
         <input id="date" type="date" name="start_date" class="datepicker" value="2016-10-15">
      </div>

      <div class="input-field col s4 offset-s1">
        <i for="time">Время</i>
        <input type="time" id="time" name="start_time" class="timepicker" value="11:10">
      </div>
    </div>

    <div class="row">
  {#      <div class="col s4 hide-on-med-and-up">#}
  {#          <button type="button" onclick="" class="blue-grey lighten-1 white-text waves-effect waves-light center-align flow-text" style="font-weight: bold" id="check_text" name="check_text">#}
  {#          Проверить на уникальность#}
  {#           </button>#}
  {#      </div>#}
      <div class="col s8 m12 l12 right-align">
          <button class="waves-effect waves-light btn-large" id="send-to-moderation" type="submit" name="action">Отправить на модерацию
              <i class="material-icons right">send</i>
          </button>
        </div>
    </div>
  </form>
    <div id="success_div"></div>
    <div id="message_div"></div>
</div>
{% endblock %}

{% block pin %}
  <script type="application/javascript">
    $(document).ready(function(){
      $('.tabs-wrapper .row').pushpin({ top: $('.tabs-wrapper').offset().top });
    });
  </script>

  <div class="tabs-wrapper">
    <div class="row">
      <h3 class="red lighten-1 white-text center-align flow-text" style="font-weight: bolder" >
          Внимание, АКЦИЯ!
      </h3>

      <div class="card-panel">
      <div class="teal lighten-2 white-text center-align">
        <span>Публикуем 100% уникальные мероприятия <br></span>
          <span class="white-text text-lighten-1 center-align flow-text" style="font-weight: bolder" >БЕСПЛАТНО</span>
      </div>
      <div id="wont">
        Хотите узнать, насколько Ваше мероприятие уникально? <span>Чем выше уникальность, тем больше скидка!</span><br>
      </div>
      <div id="uniq_bar" hidden>
        Уникальность вашего мероприятия:
        <div class="progress center" style="height: 20px;" id="prog_bar">
          <div id="set_progress"></div>
        </div>
      </div>
    </div>

    <a type="button" onclick="" class="blue-grey lighten-1 white-text waves-effect waves-light center-align flow-text" style="font-weight: bolder" id="check_text" name="check_text">
        Проверить на уникальность
    </a>

{#      <button class="btn-large blue-grey lighten-1 waves-effect waves-light flow-text" form="main_form" type="submit" id="check_text">#}
{##}
{##}
{##}
{##}
{#        <h3 class="flow-text">#}
{#        <span class="container">Проверить на уникальность</span></h3>#}
{#        <i class="material-icons right">send</i>#}
{#      </button>#}

{#    <div id="details_container">#}
{#      <a href="#" id="text_ru_details">Подробнее...</a>#}
{#    </div>#}

    <!-- VK Widget -->
    <div class="card-panel center-align">
      Возникли вопросы?
      <div id="vk_contact_us" class="center-align"></div>
      <script type="text/javascript" class="center-align">
        VK.Widgets.ContactUs("vk_contact_us", {height: 100}, 271252027);
      </script>
    </div>
  </div>
</div>

<div id="modal_results" class="modal">
  <div class="modal-content">
    <h4>Результаты анализа описания мероприятия</h4>
    <div id="modal_results_content">

    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Закрыть</a>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/materialize.clockpicker.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/materialize.clockpicker.css' %}">
{#  <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>#}

  <script type="application/javascript">
    $(document).ready(function(){
      $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        firstDay: 0,
        selectYears: 4 // Creates a dropdown of 15 years to control year
      });

      $('.timepicker').pickatime({
        default: '',           // default time, 'now' or '13:14' e.g.
        fromnow: 0,            // set default time to * milliseconds from now
        donetext: 'Применить',      // done button text
        autoclose: true,      // auto close when minute is selected
        ampmclickable: false,  // set am/pm button on itself
        darktheme: false,      // set to dark theme
        twelvehour: false,      // change to 12 hour AM/PM clock from 24 hour
        vibrate: true,         // vibrate the device when dragging clock hand
        container: 'datepicker'          // default will append clock next to input
      });
    });
  </script>

  <script type="application/javascript">
    $(function(){
      $("#check_text").click(function(e) {
        e.preventDefault();
        $('#set_progress').replaceWith('<div id="set_progress" class="indeterminate"></div>');

        $('#wont').hide();
        $('#uniq_bar').show();
        $('#check_text').attr("disabled", true);

        $.ajax({
          type: 'POST',
          url: {% url 'jq' %},
          dateType: 'json',
          data:{
            description:$('#description').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success:function (json) {
            $("#modal_results_content").html(json.message);
            $('#check_text').attr("disabled", false);

            $('#set_progress').replaceWith('<div id="set_progress" class="determinate red" style="width: '+json.result_json.unique+'">'+json.result_json.unique+'%</div>');
            $('#modal_results').openModal();
            $('#modal_results_content').empty();

  {#         Если есть ссылки плагиата #}
            if (json.urls) {
              var mydiv = $('<div/>', {
                  id:     'mydiv',
                  class:  'row'
              });
              $('#modal_results_content').append(mydiv);

              var h5 = $("<h5/>", {
                  class: 'red-text text-accent-2',
                  text: 'Уникальность вашего текста крайне низка.'
              }).appendTo(mydiv);

              var span1 = $("<span/>", {
                  text: 'Данное описание уже было опубликовано здесь:'
              }).appendTo(mydiv);

              var blockquote = $('<blockquote/>').appendTo(mydiv);
              var ul = $('<ul/>').appendTo(blockquote);
              for (i=0; i<json.urls.length; i++){
                var li = $('<li/>', {class: 'truncate'}).appendTo(ul);
                $('<a/>', {
                  text: json.urls[i].url,
                  href: json.urls[i].url,
                  target: "_blank"
                }).appendTo(li);
            }

            var div3 = document.createElement('div');
            div3.className = 'raw';

            div3.textContent = 'Судя по всему Вы ранее публиковали данное описание на других ресурсах.' +
                    'Если Вы хотите получить скидку или разместить ваше мероприятие бесплатно Вы можете:' +
                    'Отредактировать описание вашего мероприятия, повысив его уникальность. Не забудьте обновить текст в нашей форме, когда он будет готов. Проверить текста на уникальность можно ТУТ.' +
                    'В следующий раз публиковать Ваше мероприятие в первую очередь у нас на сайте БЕСПЛАТНО';
            $("#modal_results_content").append(div3);
  {#          Добавим ссылку на детали проверки#}
            $("#text_ru_details").href = 'asdasdadsd'
          }
        }
      })
    })
    });
  </script>

  <script>
    $(function() {
      $( "#id_location" ).change(function() {
        console.log( "Handler for .select() called." );
        $.ajax({
          type: 'POST',
          url: {% url 'jdata' %},
          dateType: 'json',
          data:{
            task: 'get_location_places',
            location_id:$('#id_location').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success:function (json) {
              $('#local_places').empty();
              var items = [];
              items.push('<option value="" disabled selected>Выберите место проведения</option>');
              $.each( json.location_places, function( key, val ) {
                items.push( "<option data-icon='"+ val['logo'] +"' value='" + key + "' class='left circle'F>" + val['name'] + "</option>" );
              });
              $('#local_places').append(items);
              $('#local_places').material_select();
              $('#place_row').show();
            }
        })
      });
    });
  </script>


  <script type="text/javascript">
      $(function () {
{#          $('#org_form :input').not(':submit').clone().hide().appendTo('#main_form');#}
{#          $('#main_form, #org_form').serialize();#}
          var $frm = $('#main_form');
          var frmNode = $frm.get(0);
          var chipsObj = [];
          var $btn = $frm.find('#send-to-moderation');
            $('.chips-initial').on('chip.add', function(e, chip) {
                chipsObj.push(chip.tag);
            }).on('chip.delete', function(e, chip) {
               chipsObj.splice(chipsObj.indexOf(chip.tag), 1);
            }).material_chip({
              placeholder: 'Добавьте теги',
{#                Напишите ключевое слово для поиска и нажмите Enter#}
              secondaryPlaceholder: 'Добавьте теги'
            });


            $frm.on('submit', function (e1) {
              e1.preventDefault();
              if($("form")[0].checkValidity()) {
                var formData = new FormData(frmNode);
                var files = $('#files').get(0).files;

                formData.append('tag_it', chipsObj.join(','));

                if (files[0]) {
                    formData.append('image', files[0]);
                }
                console.log('111');

                var OrgformData = $('#org_form');
                var OrgFormDataSerialize = OrgformData.serializeArray();
{#                var dataString = $("#main_form, #org_form").serialize();#}

{#                var frm = $.extend(formData, OrgformData);#}

                $.each(OrgFormDataSerialize, function(index, value){
                      console.log("INDEX: " + value['name'] + " VALUE: " +value['value']);
                      formData.append(value['name'], value['value']);
                  });

{#                formData.append(OrgformData.serialize());#}

{#                $.ajax({#}
{#                    type: $frm.attr('method'),#}
{#                    url: $frm.attr('action'),#}
{#                    headers: {'X-CSRFToken': '{{ csrf_token }}'},#}
{#                    data: formData,#}
{#                    processData: false,#}
{#                    contentType: false,#}
{#                    success: function (data) {#}
{#                          window.location.href = data['redirect'];#}
{#                    }#}
{#                });#}
                $.ajax({
                  type: 'POST',
                  url: {% url 'add_event_form'%},
                  headers: {'X-CSRFToken': '{{ csrf_token }}'},
                  data: formData,
                  processData: false,
                  contentType: false,
                  success: function(data) {
                      console.log(data);
                  }
                })

              }
              else {
                  alert(("form")[0].error);

              }
            });
      });
  </script>

  <script type="application/javascript">
  $(function () {
    $('#save_org').on('click', function (org) {
      console.log('org_form submit');
{#      $("#org_form").validate;#}
      if ($("#org_form")[0].checkValidity()) {
        org.preventDefault();
        $('#modal_org').closeModal();
        $('#place_selector').hide();
        $('#new_org_input').val(
                $('#id_new_org-name').val()
        );
        Materialize.updateTextFields();
        $('#new_org').show();
      }
    })
  });
  </script>
{#  #}
{#  <script type="application/javascript">#}
{#    $(function () {#}
{#      $('#open_org_form').click(function () {#}
{#        $('#modal_org').show();#}
{#      });#}
{#    })#}
{#  </script>#}
{% endblock %}

{% block modal_results %}
{% endblock %}

