{% extends "mysite/base.html" %}

{% load staticfiles %}

{% block content %}
  <div class="center-align">
    <h4>Спасибо за новое мероприятие!</h4>
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}

    <h5>Ваше мероприятие будет добавлено после одобрения модератором.</h5>
  </div>
{% endblock %}