{% extends "mysite/cards.html" %}

{% load staticfiles %}
{% load el_pagination_tags %}

{% block title %}My amazing blog{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?130"></script>
  <script type="application/javascript">
  {% if need_location %}
    $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal();
      $('#modal1').openModal();
    });
  {% endif %}
  </script>
{% endblock %}



{% block slider %}
  <div class="card">
      <div class="slider">
          <ul class="slides">
              {% for ev in priority_events %}
                <li class="caption">
                  <a href="{% url 'event_details' ev.location.site_screen_name ev.id ev.title_translit|urlencode %}">
                    {% if ev.image %}
                      <div class="">
                        <img src="{{ ev.image.url }}"/>
                      </div>
                    {% endif %}
                    <div class="caption right-align">
                      <h4>{{ ev.title }}</h4>
                      <h6 class="light grey-text text-lighten-3">{{ ev.start_date }}</h6>
                    </div>
                  </a>
                </li>
              {% endfor %}
          </ul>
      </div>
  </div>
{% endblock %}

{% block content %}
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Выберите ваш город</h4>
      {% for loc in locations %}
      <li value={{ loc.site_screen_name }}><a href="{% url 'location_events' loc.site_screen_name %}">{{ loc.name }}</a></li>
      {% endfor %}
    </div>
  </div>


{% paginate 24 location_events %}
  <style type="text/css">
  .material-icons.md-14 { font-size: 14px; }
  </style>
  <div class="">
      <div class="row">
      <div class="row">
      <div class="col s12 m6 l4">
        <div class="card-panel teal">
          <div class="card_circle">
            <i class="material-icons large teal_icons">bubble_chart</i>
          </div>
                    <h5 class="white-text center">На этой неделе</h5>
          <p class="white-text center">10 мероприятий</p>

        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card-panel red lighten-1">
          <div class="card_circle">
            <i class="material-icons large red_l1_icons">transfer_within_a_station</i>
          </div>
          <h5 class="white-text center">Куда пойти в выходные</h5>
          <p class="white-text center">10 мероприятий</p>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card-panel teal">
          <div class="card_circle">
            <i class="material-icons large teal_icons">money_off</i>
          </div>
          <h5 class="white-text center">Бесплатно</h5>
          <p class="white-text center">10 мероприятий</p>
        </div>
      </div>
    </div>

      {% for event in location_events %}
        {% block card_panel %}
          <div class="col s12 m6 l4">
            {{ block.super }}
          </div>
        {% endblock %}
      {% endfor %}
      </div>
  </div>

  <div class=" ">
    <span class="">I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
    </span>
  </div>
{% show_pages %}
{% endblock %}


{% block pin %}
<div class="tabs-wrapper">
{#<div class="card-panel">#}
{#<ul class="section table-of-contents pinned">#}
{#  <li><a href="#" class="active">Sidebar</a></li>#}
{#  <li><a href="#" class="">Toast</a></li>#}
{#</ul>#}
{#</div>#}
</div>

{% if vk_group_id %}
  <div class="row">
    <div class="card-panel">
    <!-- VK Widget -->
      <div id="vk_groups"></div>
      <script type="text/javascript">
        VK.Widgets.Group("vk_groups", {mode: 3, width: "auto", height: "600", color1: 'FFFFFF', color2: '000000', color3: '5E81A8'}, {{ vk_group_id }});
      </script>
    </div>
  </div>
{% endif %}

      {% block fixed_action_btn %}
      {{ block.super }}
    {% endblock %}

{% endblock %}
