{% extends "mysite/cards.html" %}
{% load staticfiles %}
{% load myfilters %}

{% block scripts %}
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?130"></script>
  <script type="text/javascript" src="http://vk.com/js/api/share.js?94" charset="windows-1251"></script>
  <script src="https://vk.com/js/api/openapi.js?136" type="text/javascript"></script>
  <script type="text/javascript">
    VK.init({apiId: 5618522, onlyWidgets: true});
  </script>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Event",
    "name": "{{ event_data.title }}",
    "startDate" : "{{ event_data.start_date|date:'Y-m-d' }}T{{ event_data.start_time }}",
    "url" : "{{ request.build_absolute_uri }}",
    "image": "http://{{ request.get_host }}{{ event_data.image.url }}",
    "description": "{{ event_data.description|truncatewords:50|striptags|urlize }}",
    "location" : {
      "@type" : "Place",
{#      "sameAs" : "{{ event_data.place.name }}",#}
      "name" : "{{ event_data.place.name }}",
      "address" : "Russian Federation, Kaluga Oblast (Region), Obninsk city, 249030"
    }
  }
  </script>
{#  <script type="application/javascript">#}
{#    function logArrayElements(element, index, array) {#}
{#      console.log('a[' + index + '] = ' + element);#}
{#    }#}
{#    $(document).ready(function () {#}
{#       $('.chips-initial').material_chip({data:{{event_tags|safe}}});#}
{#    });#}
{#    </script>#}
{% endblock %}
{% block title %}{{ event_data.title }} | {{ event_data.location.name }} | вКалендаре{% endblock %}
{% block meta %}
  <meta name="keywords" content="афиша, куда сходить в {{ event_data.location.name }}, {{ event_data.description|truncatewords:10|striptags|urlize }}" />
  <meta name="description" property="og:description" content="{{ event_data.description|truncatewords:25|striptags|urlize }}" />
  <meta property="og:title" content="{{ event_data.title }}" />
  <meta property="og:image" content="http://{{ request.get_host }}{{ event_data.image.url }}" />
  <meta property="og:site_name" content="Все мероприятия {{ event_data.location.name }} уже вКалендаре!"/>
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:type" content="article"/>
  <meta property="og:locale" content="ru_RU"/>
  <link rel="canonical" href="http://{{ request.get_host }}/{{ event_data.location.site_screen_name }}"/>
  <link rel="image_src" href="http://{{ request.get_host }}{{ event_data.image.url }}"/>
{% endblock %}

{% block content %}
  <div class="row valign-wrapper ">
    <div class="col s12 mybreadcrumb-panel" id="breadcrumb-panel">
      <a href="{% url 'events_list' %}"  class="breadcrumb">Главная</a>
      <a href="{% url 'location_events' current_location.site_screen_name  %}" class="breadcrumb">{{ current_location }}</a>
      <a href="#!" class="breadcrumb">{{ event_data }}</a>
    </div>
  </div>

  <div class="card">
    <div class="row">
      <div class="col c12 l5">
        <img class="image_padding materialboxed responsive-img" src="{{ event_data.image.url }}" alt="Афиша {{ event_data.location.name }} {{ event_data.title }}">
      </div>
      <div class="col s12 l7 section">
        <div class="custom2">
          <h1>{{ event_data.title }}</h1>
        </div>
      <div class="divider"></div>
        <div class="section">
          <div>
            <i class="tiny material-icons">date_range</i>
            <span>{{ event_data.start_date }} {{ event_data.start_date|date:'(l)' }}</span>
          </div>
          <div>
            <i class="tiny material-icons">access_time</i>
            <span>{{ event_data.start_time }}</span> ({{ event_data|timedelta }})
          </div>
        </div>
      <div class="divider"></div>
      {% if event_data.description %}
        <div class="section">
          {% spaceless %}
            <p>{{ event_data.description|urlize|linebreaks }}</p>
          {% endspaceless %}
        </div>
      {% endif %}

      <div class="row">
        {% for tag in event_tags %}
            <div class="chip"><a href="{% url 'location_events' current_location.site_screen_name %}?tag={{ tag|urlencode }}">{{ tag }}</a></div>
        {% endfor %}
      </div>

      <div class="row">
        <div class="col s2">

          <div class="" id="vk_like"></div>
          <script type="text/javascript">
            VK.Widgets.Like("vk_like", {type: "button", verb: 1, height: 30});
          </script>

{#              <div class="" id="vk_like"></div>#}
{#              <script type="text/javascript">#}
{#                VK.Widgets.Like("vk_like", {type: "full", verb: 1, height: 30});#}
{#              </script>#}

            {# <script type="text/javascript">#}
            {#     document.write(VK.Share.button(false,{type: "link", text: "Сохранить к себе"}));#}
            {# </script>#}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l12">
          <div class="center-align" id="vk_comments"></div>
          <script type="text/javascript">
            VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
          </script>
      </div>
    </div>
  </div>
</div>

  {% if events_from_this_organizator %}
    <div class="row col custom2">
      <h2>Смотрите так же:</h2>
      <h3>Другие мероприятия этого организатора</h3>
    </div>
    <div class="col">
        {% for event in events_from_this_organizator %}
          {% block card_panel %}
            <div class="col s12 m6 l4">
              {{ block.super }}
            </div>
          {% endblock %}
        {% endfor %}
    </div>
  {% endif %}
{% endblock %}

  {% block pin %}
    {% if event_data.organizer %}
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row">
          Организатор:
          <a href="{{ event_data.organizer.url }}" target="_blank">{{ event_data.organizer }}
            {% if event_data.organizer.vk_type != 'id' %}
              <img src="{{ event_data.organizer.logo }}" alt="Логотип {{ event_data.organizer.name }}" class="circle responsive-img">
            {% endif %}
          </a>
        </div>
      </div>
    {% endif %}
    {% if event_data.place %}
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row">
          Место проведения:
          {% if event_data.place.url %}
            <a href="{{ event_data.place.url }}" target="_blank">
          {% else %}
            <a href="#">
          {% endif %}
          {{ event_data.place.name }}
          {% if event_data.place.logo %}
            <img src="{{ event_data.place.logo }}" alt="Логотип {{ event_data.place.name }}" class="circle responsive-img">
          {% endif %}
          </a>
        </div>
      </div>
    {% endif %}
  </div>
    {% block fixed_action_btn %}
      {{ block.super }}
    {% endblock %}
  {% endblock %}

