{% extends "mysite/base.html" %}
{% load staticfiles %}

{% block nav %}

{% endblock %}

{% block content %}
  <nav>
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#!" class="breadcrumb">First</a>
        <a href="#!" class="breadcrumb">Second</a>
        <a href="#!" class="breadcrumb">Third</a>
      </div>
    </div>
  </nav>

<div class="card">
    <div class="row">
        <div class="col s12 l5">
            <img class="materialboxed responsive-img" src={{ event_data.image.url }}>
        </div>
       <div class="col s12 l7">
            <div class="row center-align">
                <h3>{{ event_data.title }}</h3>
            </div>
           <div>
               <a>{{ event_data.start_date }}</a><a>{{ event_data.start_time }}</a>
           </div>
            <div class="row">
                <span class="black-text">{{ event_data.description }}</span>
            </div>
       </div>
    </div>
</div>

<h4>Смотрите так же:</h4>
{% if events_from_this_organizator %}
  <style type="text/css">
    .material-icons.md-14 { font-size: 14px; }
  </style>
  <h5>Другие мероприятия этого организатора</h5>
            {% for event in events_from_this_organizator %}
              <div class="col s12 m4 l3">
                  <div class="card sticky-action medium z-depth-2">

                      <div class="card-image waves-effect waves-block waves-light">
                        <div class="" style="font-size: small;">
                          <div class="">
                            <i class="material-icons md-14">date_range</i>
                            {{ event.start_date|date:"d.m.Y (D)"  }}
                            <div class="right">
                              <i class="material-icons md-14">access_time</i>
                              {{ event.start_time }}
                            </div>
                          </div>
                        </div>
                        {% if event.image %}
                          <a href="{% url 'event_details' event.location.site_screen_name event.id event.title_translit|urlencode %}">
                            <img src={{ event.image.url }}>
                          </a>
                        {% endif %}
                      </div>
                      <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4">{{ event.title }}<i class="material-icons right">more_vert</i></span>
                          <p>{{ event.description|linebreaksbr }}</p>
                      </div>
                      <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">{{ event.title }}<i class="material-icons right">close</i></span>
                          <p>{{ event.description|linebreaksbr }}</p>
                      </div>
                      <div class="card-action">
                          <a href="{% url 'event_details' event.location.site_screen_name event.id event.title_translit|urlencode %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Подробнее...</a>
                      </div>
                  </div>
              </div>
          {% endfor %}
{% endif %}



{% endblock %}