{% extends "mysite/cards.html" %}

{% load staticfiles %}
{% load el_pagination_tags %}
{% load shuffle %}
{% load myfilters %}

{% block meta %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}" />
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?130"></script>
  <script type="application/javascript">
    {% if need_location %}
      $(document).ready(function(){
        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        $('.modal-trigger').leanModal();
        $('#modal1').openModal();
      });
    {% endif %}
  </script>
  <script type="application/javascript">
    function set_user_location(id) {
      $.ajax({
        type: 'POST',
        url: {% url 'set_user_location' %},
        dateType: 'json',
        data: {id: id,
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        },
        success: function (data) {
          if (data['status']) {
            $('#user_default_location').text('Ваш город: ' + data['city']);
            console.log('user default city saved')}
          else {
            console.log('Не удалось сохранить ваш город')}
        },
        error: function (data) {
          alert('Не удалось сохранить ваш город')
        }
      });
    }
  </script>
  <script type="application/javascript">
    function open_modal1() {
            $('#modal1').openModal();
    }
  </script>
  <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
  <script type="application/javascript">
    $(document).ready(function(){
      $('.multiple-items').slick({
          infinite: true,
          lazyLoad: 'ondemand',
          slidesToShow: 5,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 3000,
          responsive: [
            {
              breakpoint: 992,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                infinite: true
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                dots: false,
                arrows: false
              }
            }
          ]
{#        dots: true#}
{#        centerMode: true#}
      });
    });
  </script>
{% endblock %}

{% block user_location %}
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Персонализация</a>
        <div class="collapsible-body" style="">
          <ul>
            <li>
              <a id='user_default_location' href="#!" onclick="open_modal1()">Ваш город: {{ user.location }}</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
{% endblock %}

{% block category %}
  {% if categories %}
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold"><a class="collapsible-header  waves-effect waves-teal active">Категории</a>
          <div class="collapsible-body" style="">
            <ul>
              {% for ctg in categories %}
{#                <a href="{% url 'location_events' loc.site_screen_name %}" onclick="set_user_location({{ loc.id }})">{{ loc.name }}</a>#}
                <li><a href="{% url 'location_events' current_location.site_screen_name %}?category={{ ctg | urlencode}}">{{ ctg }}<span class="badge">{{ categories|get_item:ctg|get_item:'count' }}</span></a></li>
              {% endfor %}
            </ul>
          </div>
        </li>
      </ul>
    </li>
  {% endif %}
{% endblock %}

{% block slider %}
  <div class="">
      <div class="slider">
          <ul class="slides">
              {% for ev in priority_events|shuffle %}
                <li class="caption">
                  <a href="{% url 'event_details' ev.location.site_screen_name ev.id ev.title_translit|urlencode %}">
                    {% if ev.image %}
                      <div class="">
                        <img src="{{ ev.image.url }}"/>
                      </div>
                    {% endif %}
                    <div class="caption right-align">
                      <h4>{{ ev.title }}</h4>
                      <h6 class="light grey-text text-lighten-3">{{ ev.start_date }}</h6>
                    </div>
                  </a>
                </li>
              {% endfor %}
          </ul>
      </div>
  </div>
{% endblock %}

{% block content %}
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Выберите ваш город</h4>
      <div class="row">
        {% for loc_list in locations|split_by_three %}
          {% for loc in loc_list %}
            <div class="col s12 l4">
              <li value={{ loc.site_screen_name }}>
                <a href="{% url 'location_events' loc.site_screen_name %}" onclick="set_user_location({{ loc.id }})">{{ loc.name }}</a>
              </li>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>


{% paginate 24 location_events %}
  <style type="text/css">
  .material-icons.md-14 { font-size: 14px; }
  </style>
  <div class="">
    <div class="row">
      {% if not need_location and not request.GET %}
        <div class="row">
          <div class="col s12 m6 l4">
            <a href="{% url 'location_events' current_location.site_screen_name %}?from_date={{ start_week_date }}&to_date={{ end_week_date }}">
              <div class="card-panel hide-on-small-only">
                <div class="card_icon">
                  <img class="responsive-img" src="{% static 'icons/ikonka1.png' %}" />
                </div>
                <h5 class="black-text center">На этой неделе</h5>
                <p class="black-text center">{{ this_week_event_count }}</p>
              </div>
              <div class="card-panel hide-on-med-and-up">
                <div class="valign-wrapper">
                  <div class="col s6">
                    <div class="card_icon">
                      <img class="responsive-img" src="{% static 'icons/ikonka1.png' %}" />
                    </div>
                  </div>
                  <div class="col s6">
                    <div class="valign">
                      <h5 class="black-text">На этой неделе</h5>
                      <p class="black-text">{{ this_week_event_count }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col s12 m6 l4">
            <a href="{% url 'location_events' current_location.site_screen_name %}?from_date={{ start_weekend_date }}&to_date={{ end_week_date }}">
              <div class="card-panel hide-on-small-only">
                <div class="card_icon">
                  <img class="responsive-img" src="{% static 'icons/ikonka2.png' %}" />
                </div>
                <h5 class="black-text center">Куда пойти в выходные</h5>
                <p class="black-text center">{{ this_weekend_event_count }}</p>
              </div>
              <div class="card-panel hide-on-med-and-up">
                <div class="valign-wrapper">
                  <div class="col s5">
                    <div class="card_icon">
                      <img class="responsive-img" src="{% static 'icons/ikonka2.png' %}" />
                    </div>
                  </div>
                  <div class="col s7">
                    <div class="valign">
                      <h5 class="black-text">Куда пойти в выходные</h5>
                      <p class="black-text">{{ this_weekend_event_count }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col s12 m6 l4">
            <a href="{% url 'location_events' current_location.site_screen_name %}?free">
              <div class="card-panel hide-on-small-only">
                <div class="card_icon">
                  <img class="responsive-img" src="{% static 'icons/ikonka3.png' %}" />
                </div>
                <h5 class="black-text center">Бесплатно</h5>
                <p class="black-text center">{{ free_event_count }}</p>
              </div>
              <div class="card-panel hide-on-med-and-up">
                <div class="valign-wrapper">
                  <div class="col s5">
                    <div class="card_icon">
                      <img class="responsive-img" src="{% static 'icons/ikonka3.png' %}" />
                    </div>
                  </div>
                  <div class="col s7">
                    <div class="valign">
                      <h5 class="black-text">Бесплатно</h5>
                      <p class="black-text">{{ free_event_count }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        {% if current_location.id == 1 %}
          <div class="multiple-items-margin hide-on-small">
            <div class="multiple-items responsive-container" >
              <div class="img-container slick-slide">
                <a href="{% url 'location_events' current_location.site_screen_name %}?place=25">
                  <img src="{% static 'places_logo/obninsk/9feet.png' %} ">
                </a>
              </div>
              <div class="img-container">
{#                <a href="{% url 'location_events' current_location.site_screen_name %}?place=25">#}
                  <img src="{% static 'places_logo/obninsk/lebowsky.png' %}">
{#                </a>#}
              </div>
              <div class="img-container slick-slide "><img src="{% static 'places_logo/obninsk/R1.png' %} "></div>
              <div class="img-container slick-slide"><img src="{% static 'places_logo/obninsk/ritm.png' %}"></div>
              <div class="img-container"><img src="{% static 'places_logo/obninsk/sherlok.png' %}"></div>
              <div class="img-container"><img src="{% static 'places_logo/obninsk/park.png' %}"></div>
              <div class="img-container"><img src="{% static 'places_logo/obninsk/omc.png' %}"></div>
            </div>
          </div>
        {% endif %}
      {% endif %}

      {% for event in location_events|dictsort:"start_date" %}
        {% block card_panel %}
            <div class="col c12 m6 l4">
              {{ block.super }}
            </div>
        {% endblock %}
      {% endfor %}
    </div>
  </div>

  <div class="col" hidden>
    <span class="">I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
    </span>
  </div>
{% show_pages %}
{% endblock %}


{% block pin %}
<div class="tabs-wrapper">
{#<div class="card-panel">#}
{#<ul class="section table-of-contents pinned">#}
{#  <li><a href="#" class="active">Sidebar</a></li>#}
{#  <li><a href="#" class="">Toast</a></li>#}
{#</ul>#}
{#</div>#}
</div>

{% if vk_group_id %}
  <div class="row">
    <div class="vk_groups">
    <!-- VK Widget -->
      <div id="vk_groups"></div>
      <script type="text/javascript">
        VK.Widgets.Group("vk_groups", {mode: 3, width: "auto", height: "600", color1: 'FFFFFF', color2: '000000', color3: '5E81A8'}, {{ vk_group_id }});
      </script>
    </div>
  </div>
{% endif %}

{% block fixed_action_btn %}
  {{ block.super }}
{% endblock %}

{% endblock %}
