{% extends "admin/base_site.html" %}
{% load static %}

{#{% block admin_change_form_document_ready %}#}
{#{{ block.super }}#}
{#  <script type="text/javascript" src="{% static 'js/admin_service.js' %}"></script>#}
{#{% endblock %}#}

{% block extrahead %}
{{ block.super }}
  <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

  <script type="application/javascript">
    function tag_it(input_task) {
      $('#pbar').show();
      $.ajax({
          type: 'GET',
          url: '{% url 'tag_it' %}',
          dateType: 'json',
          data: {
            task: input_task,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success: function (data) {
            $('#pbar').hide();
            alert(data.tags);
          },
          error: function (data) {
            $('#pbar').hide();
            alert('error');
          }
      });
    }

   function jservice(input_task) {
    $('#j_bar').show();
    $.ajax({
        type: 'GET',
        url: '{% url 'jservice' %}',
        dateType: 'json',
        data: {
          task: input_task,
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        },
        success: function (data) {
          $('#j_bar').hide();
          alert(data['result']);
        },
        error: function (data) {
          $('#j_bar').hide();
          alert('error');
        }
    });
  }
  </script>
{% endblock %}

{% block content %}
  <button class="button" type="button" id="set_tags_for_all" onclick="tag_it('all_future')">
  Adding tags for all future events
    <div id="pbar" hidden>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </button>

  <button class="button" type="button" id="set_tags_for_all" onclick="tag_it('empty')">
  Adding tags for future not tagged events
    <div id="pbar" hidden>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </button>

{#  <button class="button" type="button" id="copy_places_from_organizers" onclick="tag_it('places')">#}
{#  Copy places from organizers#}
{#    <div id="pbar" hidden>#}
{#      <div class="progress">#}
{#        <div class="indeterminate"></div>#}
{#      </div>#}
{#    </div>#}
{#  </button>#}

  <button class="button" type="button" id="copy_places_from_organizers" onclick="jservice('orgs_to_places')">
  Copy places from organizers
    <div id="j_bar" hidden>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </button>

  <button class="button" type="button" id="push_confidence" onclick="jservice('push_confidence')">
  Push confidence events from vk
    <div id="j_bar" hidden>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </button>

  <button class="button" type="button" id="update_event" onclick="jservice('update_event')">
  Update_events_image events from vk
    <div id="j_bar" hidden>
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
  </button>

{% endblock %}

