{% load staticfiles %}


<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/selector.js' %}"></script>


<div class="container">
  <div class="row">
    <form class="col s12 card-panel" action="{% url 'add_event_form'%}" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="title" length="30">
          <label for="title">Заголовок</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea class="materialize-textarea" name="description" length="1000"></textarea>
          <label for="textarea1">Описание мероприятия</label>
        </div>
      </div>

        <div class="row">
          <div class="input-field col s12">
                  {% for loc in EventsMod.location %}
                      {{  loc }}
                  {% endfor %}
              <label>Materialize Select</label>
          </div>
        </div>
        <div class="row">
            <div class="file-field input-field">
              <div class="btn">
                <span>Загрузить афишу</span>
                <input type="file" name="image">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">

              </div>
            </div>
        </div>

      <div class="row">
          <div class="input-field col s12">
                 <input type="date" name="start_date" class="datepicker">
          </div>
      </div>

      <div class="row">
          <div class="input-field col s12">
                 <input type="time" name="start_time" class="datepicker">
          </div>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
      </button>
{#        <a class="waves-effect waves-light btn" type="submit">button</a>#}
    </form>

  </div>
</div>

</body>
</html>