{% extends "mysite/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="">
    <div class="row">
        <div class="col s12 l5">
            <img class="materialboxed responsive-img" src={{ event_data.image.url }}>
        </div>
       <div class="col s12 l7">
            <div class="row center-align">
                <h3>{{ event_data.title }}</h3>
            </div>
           <div>
               <a>{{ event_data.start_date }}</a><a>{{ event_data.start_time }}</a>
           </div>
            <div class="row">
                <span class="black-text flow-text">{{ event_data.description }}</span>
            </div>
       </div>
    </div>
</div>
{% endblock  %}